html {
  font-size: 18px;
}

.logo {
  transition: transform 1s ease-in-out;
}

.logo:hover {
  transform: rotate(90deg);
}

.home-img {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.question {
  display: list-item;
  list-style-type: "🐾";
  padding-inline-start: 1ch;
}

@media (max-width: 1200px) {
  .home-img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
